<form (submit)="saveChanges()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Name*</mat-label>
        <input formControlName="name" matInput />
        <mat-error>the name field is required</mat-error>
    </mat-form-field>
    <h4>Select the location of the theater</h4>
    <app-map
    [initialCoordinates]="initialCoordinates"
     (onSelectedLocation)="onSelectedLocation($event)"></app-map>


    <div>
        <button mat-flat-button 
        color="primary" 
        [disabled]="form.invalid"
         >Save Changes
        </button>
              <a mat-stroked-button routerLink="/movietheaters">Cancel</a>
    </div>
</form>